.todos-comp {
  display: flex;
  position: relative;

  .todos-tab {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    width: 25vw;
    min-height: 25vw;
    .todos-tab-item {
      width: auto;
      text-align: center;
      padding: 1rem;
      cursor: pointer;
      margin: 5px;
      animation: slideIn 0.5s forwards;
      font-size: 1.2em;

      &.active {
        background-color: var(--background-secondary-color);
      }

      .tab-show {
        span {
          font-size: 0.8em;
          background-color: transparent;
          color: var(--primary-color);
          background-color: var(--secondary-color);
        }
      }
    }
  }

  .todos-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    height: calc(100vh - var(--header-height) - 1px);
    height: calc(100svh - var(--header-height) - 1px);
    transition: all ease 0.5s;

    .todos-area {
      display: flex;
      flex-direction: column;
      animation: appear 0.5s forwards;
      overflow: scroll;
    }
    .todos-add {
      display: flex;
      bottom: 0;
      height: auto;
      height: auto;
      align-items: center;
      .mat-icon {
        position: absolute;
        transform: translate(100%, 0);
        color: black;
      }
      input {
        width: 100%;
        background-color: white;
        padding: 15px 40px;
        border-radius: 2em;
        margin: 10px;
        font-size: 1.25em;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .todos-show.open {
    width: 55vw;
  }
  .todos-show.close {
    width: 75vw;
  }

  .modal-show {
    position: absolute;
    display: block;
    right: 0;
    width: 20vw;
    height: calc(100vh - var(--header-height) - 1px);
    height: calc(100svh - var(--header-height) - 1px);

    .modal-main {
      margin: 10px;
      h2 {
        font-size: 2em;
      }
      .repeat-div,
      .date-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        label {
          flex: 1;
          font-size: 1em;
        }
        select {
          flex: 1;
          padding: 10px;
          margin: none;
          border: none;
          border-bottom: 1px solid var(--foreground-color);
          &:focus {
            outline: none;
          }
        }
        input {
          flex: 1;
          padding: 10px;
          margin: none;
          border: none;
          border-bottom: 1px solid var(--foreground-color);
          &:focus {
            outline: none;
          }
        }
      }
    }

    .btn-grp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px;

      .mat-icon {
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  .modal-show.show {
    animation: slideIn 0.5s forwards;
  }

  .modal-show.hide {
    display: none;
    animation: all slideOut 0.5s forwards;
  }
}

@media (max-width: 768px) {
  .todos-show.open {
    min-width: 75vw;
  }
  .todos-show.close {
    min-width: 75vw;
  }

  .modal-show {
    width: 100vw !important;
    height: 100vh;
    background-color: var(--background-color);
  }

  .modal-show.show {
    animation: popIn 0.5s forwards !important;
  }
  .modal-show.hide {
    animation: popOut 0.5s forwards !important;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes popIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
