.todo {
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  border-radius: 1em;
  animation: popIn 0.5s forwards;

  input {
    display: flex;
    flex: 0.05;
  }

  .todo-text {
    display: flex;
    flex-grow: 1;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    flex: 0.875;
    overflow: hidden;
    word-wrap: break-word;
    min-width: 100px;

    h3 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      max-lines: 2;
      max-width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }
    p {
      font-size: 0.8em;
      margin: 0;
    }
  }

  span {
    display: flex;
    flex: 0.075;
    color: white;
    cursor: pointer;
  }

  .important {
    color: gold;
  }
}

.completed {
  color: #ebebeb;
  background-color: gray;

  h3 {
    text-decoration: line-through;
  }
}
