<div class="to-do-page">
  <h1 class="to-do-page__title">Redsols To Do</h1>
  <p class="to-do-page__subtitle">To Do gives you focus, from work to play.</p>
  <div class="to-do-page__button-group">
    <button class="to-do-page__button">Get started</button>
    <button class="to-do-page__button">Learn more</button>
  </div>
  <!-- <a class="to-do-page__download-link" href="#">Download To Do</a> -->
  <div class="to-do-page__legal">
    <p class="to-do-page__legal-text">Terms of use for To Do</p>
  </div>
</div>
