.to-do-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height) - var(--header-height) - 1px);
  height: calc(100svh - var(--header-height) - var(--header-height) - 1px);

  .container {
    padding: 2em;
    border-radius: 1em;
    text-align: center;

    .title {
      font-size: 4em;
      line-height: 1.2;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .subtitle {
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 10px;
      font-weight: 400;
      opacity: 0.5;
    }
  }
  .btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0;
    a {
      text-decoration: none;
      background: var(--secondary-color);
      color: var(--primary-color);
      padding: 1em 2em;
      font-size: 1.5em;
    }
  }
  .terms {
    margin-top: 1em 0;

    a {
      background: none;
      color: var(--font-color);
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .to-do-page {
    .container {
      .title {
        font-size: 3em;
      }
      .subtitle {
        font-size: 1.5em;
      }
    }
    .btn-grp {
      flex-direction: column;
      a {
        margin: 0.5em 0;
      }
    }
  }
}
