form {
  max-width: 400px;
  min-width: 300px;
  margin: 10px auto;
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
  }

  label {
    display: block;
    font-weight: bold;
    color: var(--foreground-color);
    font-size: 1em;
  }
  select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--foreground-color);
    border-radius: 5px;
    font-size: 14px;
  }

  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--foreground-color);
    border-radius: 5px;
    font-size: 14px;
  }

  .form-group {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 10px;
    background-color: var(--highlight-color);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--highlight-color);
    }
  }
}

.bottom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: var(--foreground-color);
  }
  a {
    background-color: transparent;
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
  }
}
