.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  h1 {
    font-weight: 600;
  }

  mat-select {
    color: var(--foreground-color);
  }

  p,
  h2 {
    margin: 0;
  }

  .profile-info {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1.2em;
    min-width: 500px;
    display: flex;
    flex-direction: column;

    .profile-info-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid var(--border-color);
      align-items: center;

      .profile-info-item-label {
        font-weight: bold;
        color: var(--foreground-color);
        font-size: 1em;
      }

      .profile-info-item-value {
        font-size: 1em;
        width: 250px;
        padding: 10px;
      }
    }
  }

  .profile-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    flex-direction: column;
    gap: 10px;

    .profile-action {
      padding: 10px;
      margin: 0 8px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }
}
