<!-- profile page -->
<div class="profile">
  <h1>Profile</h1>
  <div class="profile-info">
    <div class="profile-info-item">
      <h2 class="profile-info-item-label">Username</h2>
      <p class="profile-info-item-value">{{ user.username }}</p>
    </div>
    <div class="profile-info-item">
      <h2 class="profile-info-item-label">Email</h2>
      <p class="profile-info-item-value">{{ user.email }}</p>
    </div>

    <div class="profile-info-item">
      <h2 class="profile-info-item-label">First Name</h2>
      <input
        class="profile-info-item-value"
        [(ngModel)]="user.firstName"
        type="text"
      />
    </div>

    <div class="profile-info-item">
      <h2 class="profile-info-item-label">Last Name</h2>
      <input
        class="profile-info-item-value"
        [(ngModel)]="user.lastName"
        type="text"
      />
    </div>

    <div class="profile-info-item">
      <h2 class="profile-info-item-label">Timezone</h2>
      <mat-select class="profile-info-item-value" [(ngModel)]="user.timezone">
        <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
          {{ timezone.label }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="profile-actions">
    <button
      mat-raised-button
      color="primary"
      (click)="editUser()"
      class="profile-action"
    >
      Save
    </button>

    <button
      mat-raised-button
      color="accent"
      (click)="changePassword()"
      class="profile-action"
    >
      Change Password
    </button>

    <button
      mat-raised-button
      color="warn"
      (click)="logout()"
      class="profile-action danger-btn"
    >
      Logout
    </button>
  </div>
</div>
