/* You can add global styles to this file, and also import other style files */

:root {
  --header-height: 50px;
  --primary-color: #3498db;
  --secondary-color: #ecf0f1;
  --background-color: #f4f4f4;
  --background-secondary-color: #dfdfdf;
  --foreground-color: #333333;
  --highlight-color: #009688;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --foreground-color: #f4f4f4;
    --secondary-color: #2c3e50;
    --background-secondary-color: #2c3e50;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}
*,
h1,
h2,
h3 {
  margin: 0;
}

button,
a {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 10px;
  border: none;
  border-radius: 1em;

  &:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes popIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
